# {{ ansible_managed }}
input  {
    redis {
        host => "{{ with_redis_server_ip }}"
        type => "redis-input"
        data_type => "list"
        key => "logstash"

        codec => "json"
        }
}