
# {{ ansible_managed }}

start on started {{ logstash.redis_service }}
stop  on stopped {{ logstash.redis_service }}

author      "Veros Kaplan <http://github.com/verosk/>"
description "Logstash indexer"

# Based on Thomas Berton <thomas.berton@ugent.be> job

respawn
respawn limit 60 5

exec  /usr/bin/java -jar {{ logstash.dir }}/bin/{{ logstash.jar }} agent -f {{ logstash.indexer.conf }} -- web
