
# {{ ansible_managed }}

start on started {{ logstash.redis_service }}
stop  on stopped {{ logstash.redis_service }}

author      "Veros Kaplan <http://github.com/verosk/>"
description "Logstash shipper"

# Based on Thomas Berton <thomas.berton@ugent.be> job

respawn
respawn limit 60 5

# Doesn't work for ancient upstarts (like the one in CentOS)

#chdir {{ logstash.dir }}
#console log
#setuid upstart

exec su logstash -c "{{ logstash.dir }}/bin/logstash-wrapper agent -f {{ logstash.shipper.conf }}"
